body {
  background: #343a40;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
  line-height: 30px;
}

h1 {
  font-family: "Roboto", serif;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: auto;
  letter-spacing: 0.5em;
  margin-top: 230px;
  color: #ff99cc;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 80px;
  color: #fff;
  line-height: auto;
  letter-spacing: 0.4em;
}

p {
  width: 90%;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.size {
  border-radius: 10px;
  max-width: 40%;
  max-height: 40%;
  opacity: 50%;
}

.footer {
  color: #fff;
  font-size: 16px;
}

a:hover {
  color: #ff99cc;
  text-decoration: none;
}

a {
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 19px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}
