body {
  background: #343a40;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
  line-height: 30px;
}

h1 {
  font-family: "Roboto", serif;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: auto;
  letter-spacing: 0.5em;
  margin-top: 240px;
  color: #ff99cc;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 80px;
  color: #fff;
  line-height: auto;
  letter-spacing: 0.4em;
}

.size {
  border-radius: 10px;
  max-width: 40%;
  max-height: 40%;
  opacity: 50%;
}

@media (max-width: 400px) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}
