body {
  background: #000;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
  line-height: 30px;
}

h1 {
  font-family: "Roboto", serif;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: auto;
  letter-spacing: 0.5em;
  margin-top: 30px;
  color: #ff99cc;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 323px;
  color: #fff;
  line-height: auto;
  letter-spacing: 0.4em;
}

.navbar-dark {
  background-color: #000;
  color: #fff;
}

.rounded {
  border-radius: 50px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}
